@{
    ViewData["Title"] = "Games";
}

@section css{
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/letter.css" rel="stylesheet" />
    <link href="~/css/ttt.css" rel="stylesheet" />
    <link href="~/css/seabattle.css" rel="stylesheet" />
}

<div id="games" class="row" >
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="#" class="card border-0 shadow bg-secondary" onclick="addRoom(); return false;">
            <div class="card-body text-center pe-auto">
                <h5 class="card-title mb-0 text-light ">Add room</h5>
                <div class="card-text text-light">+</div>
            </div>
        </a>
    </div>
</div>

<div id="choice" class="row"  style=" display: none">
    <div class="storages">
        <div class="storage game-choice" data-group="1">
            <div class="storage__img">
                <img src="/img/ttt.png" alt="Tic tac toe">
            </div>
            <div class="storage__text">
                Tic tac toe
            </div>
        </div>
        <div class="storage game-choice" data-group="2">
            <div class="storage__img">
                <img src="/img/battleship.png" alt="Sea battle">
            </div>
            <div class="storage__text ">
                Sea battle
            </div>
        </div>
    </div>
</div>

<div id="waiting" style="clear:both; display: none">
    <div class="d-flex align-items-center">
        <div>
            <strong>Waiting for opponent...</strong><br />
            <strong>Players on site <span id="user-count">0</span></strong>
        </div>
        <div class="spinner-border ms-auto text-info" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
    </div>
</div>

<div id="game" class="game" style="clear:both; display: none">
    <span id="game-status" class="mb-5">Game on</span>
    <div id="divGameBoard" class="mt-1" style="width: 315px">
    </div>
    <div id="divGameFields" class="mt-1">
        <div class="block">
            <div id="field-comp" class="field"></div>
        </div>
        <div class="block">
            <div id="field-user" class="field"></div>
        </div>
    </div>
    <button class="btn btn-primary btn-lg mt-5" onclick="if (window.confirm('Are you sure?')) { location.reload()}">Leave</button>
</div>

<div class="letter-image" id="info" style="display: none">
    <div class="animated-mail">
        <div class="back-fold"></div>
        <div class="letter">
            <div class="letter-border"></div>
            <div class="letter-title"></div>
            <div class="letter-context"></div>
            <div class="letter-message text-dark" id="message">You win</div>
            <div class="letter-stamp">
                <div class="letter-stamp-inner"></div>
            </div>
        </div>
        <div class="top-fold"></div>
        <div class="body"></div>
        <div class="left-fold"></div>
    </div>
    <div class="shadow"></div>
</div>

@section Scripts{
    <script>
        var games = $("#games");
        var game = $("#game");
        var waiting = $("#waiting");
        var choice = $("#choice");
        var info = $("#info");
        var message = $("#message");
        info.on('click', function () {
            $(this).fadeOut();
        })

        games.show();

        function addRoom() {
            games.hide();
            choice.show();
        }
    </script>
    <script src="~/js/battleship.js"></script>
    <script src="~/js/gamehub.js"></script>
    <script src="~/js/callbacks.js"></script>
    <script src="~/js/invokes.js"></script>
}
