.game {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
}

#game-status{
    font-size: 20px;
}

.marker {
    position: relative;
    display: block;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin: 2px;
    cursor: pointer;
}

    .marker.notAvailable{
        cursor: default;
    }

    .marker:nth-child(1) {
        border-start-start-radius: 16px;
    }

    .marker:nth-child(3) {
        border-start-end-radius: 16px;
    }
    .marker:nth-child(7) {
        border-end-start-radius: 16px;
    }
    .marker:nth-child(9) {
        border-end-end-radius: 16px;
    }

    .marker:not(.notAvailable):hover {
        background: #6c757d;
    }

.mark--o {
    background: rgba(255,0,0,0.01);
}
.mark--x {
    background: rgba(0,0,255,0.01);
}

.mark--o::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px #ef908c;
    transform: translate(-50%, -50%);
}

.mark--x::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 12px;
    border-radius: 6px;
    background: #8c90ef;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
}

.mark--x::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 12px;
    border-radius: 6px;
    background: #8c90ef;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-45deg);
}